<template>
  <h1>{{ this.user.name }}</h1>
  <div>
      <fa-icon icon="envelope" style="color: gray"/>
    {{ this.user.email }}
  </div>
  <div><fa-icon icon="phone" />{{ this.user.phone }}</div>
  <div><fa-icon icon="globe" />{{ this.user.website }}</div>
</template>

<script lang="ts">
import { userService } from '@/services/user-service/User.service'
import { User } from '@/services/user-service/UserService.interface'

export default {
  name: 'UserDetails',
  data: () => {
    return {
      user: {} as User,
    }
  },
  mounted() {
    const { id } = this.$route.params
    userService.getUser(id as string).then(user => {
      if (user) this.user = user
    })
  },
}
</script>

<style scoped></style>
