<template>
  <div class="posts">
    <post-item v-for="item of this.posts" :key="item['id']" :post="item" />
  </div>
</template>

<script lang="ts">
import { Post, postService } from "@/services/post-service";
import PostItem from "@shared/post-item/PostItem.vue";

export default {
  name: "Posts",
  data: () => {
    return {
      posts: [] as Post[],
    };
  },
  components: { PostItem },
  mounted() {
    postService.getPosts().then((data) => {
      if (data?.length) this.posts = [...data];
    });
  },
};
</script>

<style scoped>
.posts {
  display: flex;
  flex-direction: column;
  width: 600px;
  margin: 0 auto;
  padding: 0 12px;
}
</style>
