<template>
  <div class="post-item">
    <div class="title">{{ this.post.title }}</div>
    <div class="body">{{ this.post.body }}</div>
  </div>
</template>

<script lang="ts">
export default {
  name: "PostItem",
  props: {
    post: Object,
  },
};
</script>

<style scoped>
.post-item {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid grey;
  margin-bottom: 15px;
}
.title .body {
  display: flex;
  align-items: center;
  padding-bottom: 12px;
}
.title {
  padding-bottom: 8px;
  font-weight: bold;
  color: #363636;
}
.body {
  font-size: 14px;
}
</style>
