<template>
  <table class="grid">
    <thead>
      <tr>
        <th v-for="cell of this.columns" :key="cell.accessor">
          {{ cell.header }}
        </th>
      </tr>
    </thead>
    <tbody>
      <tr
        v-for="item of this.data"
        :key="item[this.idField]"
        :class="{ '--clickable': !!this.onClick }"
      >
        <td
          v-for="cell of this.columns"
          :key="cell.accessor"
          @click="this.onClick(item[this.idField])"
        >
          {{ item[cell.accessor] }}
        </td>
      </tr>
    </tbody>
  </table>
</template>

<script>
import { Column } from './Column'

export default {
  name: 'TableComponent',
  props: {
    data: Array,
    columns: {
      validator: value => {
        return value.every(item => item instanceof Column)
      },
      required: true,
    },
    onClick: Function,
    idField: {
      type: String,
      default: 'id',
    },
  },
}
</script>

<style scoped>
.grid {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  border: 1px solid lightgray;
  border-radius: 10px;
}
.grid td {
  padding: 15px;
}
.grid tr.--clickable:hover {
  background: #f8f8f8;
  cursor: pointer;
}
.grid tr:not(.grid tr:last-of-type) td {
  border-bottom: 1px solid lightgray;
}
.grid th {
  padding: 15px;
  background: #f3f3f3;
  text-align: left;
  font-weight: 600;
}
.grid th:first-of-type {
  border-top-left-radius: 10px;
}
.grid th:last-of-type {
  border-top-right-radius: 10px;
}
</style>
