<template>
  <div class="nav-bar">
    <template v-for="item of this.menu" :key="item.path">
      <router-link
        :to="item.path"
        :class="{ active: this.checkIsActive(item.path) }"
        >{{ item.label }}</router-link
      >
    </template>
  </div>
</template>

<script lang="ts">
import { menu } from '../../router/menu'

export default {
  name: 'NavBar',
  data: () => {
    return {
      menu,
    }
  },
  methods: {
    checkIsActive(route: string) {
      return this.$route.fullPath.includes(route)
    },
  },
}
</script>

<style scoped>
.nav-bar {
  width: 100%;
  background: #228977;
  margin-bottom: 20px;
  display: flex;
}
.nav-bar a {
  color: #fff;
  text-decoration: none;
  padding: 20px;
  box-sizing: border-box;
}
.nav-bar a:hover,
.nav-bar .active {
  background: rgba(0, 0, 0, 0.1);
}
</style>
