<template>
  <nav-bar />
  <div class="layout">
    <router-view />
  </div>
</template>

<script lang="ts">
import NavBar from './shared/nav-bar/NavBar.vue'

export default {
  name: 'App',
  components: {
    NavBar,
  },
}
</script>

<style>
html,
body,
#app {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
#app {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  font-family: 'Lucida Sans', Geneva, Verdana, sans-serif;
}

.layout {
  padding: 20px;
}

#nav {
  width: 100%;
}
</style>
