<template>
  <table-component
    :data="this.users"
    :columns="this.userColumns"
    :onClick="this.locateToUserDetails"
  />
</template>

<script lang="ts">
import { userService, User } from '@/services/user-service'
import TableComponent from '../../shared/table/Table.vue'
import { userColumns } from './UserTableColumns'

export default {
  name: 'Users',
  data: () => {
    return {
      users: [] as User[],
      userColumns,
    }
  },
  components: {
    TableComponent,
  },
  mounted() {
    userService.getUsers().then(users => {
      if (users?.length) {
        this.users = [...users]
      }
    })
  },
  methods: {
    locateToUserDetails(id: number) {
      this.$router.push(`/users/${id}`)
    }
  }
}
</script>

<style scoped></style>
